.logo{
    height: 100%;
}

.a-logo{
    height: 50px;
    padding: 0px;
}

.smallImg{
  width: 150px;
  height: 60px;
}

.grad{
background-image: linear-gradient(-132deg, #FCEE21 0%, #ED1C24 100%);

/* border: 1px solid #979797;
border-radius: 13px; */
} 

li a{
    color: white;
}

li a:hover{
    color: white;
}

